.check-list {
  --inactive-color: #f6f6f6;
  --height: 32px;

  .checkbox {
    background-color: var(--inactive-color);
    border: 1px solid var(--inactive-color);
    border-radius: calc(var(--height) / 2);
    padding: 5px 10px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  .active {
    background-color: #e7f1ff;
    color: var(--adm-color-primary);
    border: 1px solid var(--adm-color-primary);
  }

  .center {
    justify-content: center;
  }
}
